<html>
    <head>
        <title>Edit error</title>
    </head>
    <body>
        <h1>Edit Error</h1>
        <h2>Permission not granted.</h2>
        <p>The document can only be updated by its owner: <%= owner %></p>
        <a href="/details?_id=<%= id %>"><input type="submit" value="Go back"></a>
    </body>
</html>