<html>
    <head><title>Rated error</title></head>
    <body>
        <H1>Error</H1>
        <H2>User: <%= name %></H2>
        <p>You have rated this restaurant.</p>
        <a href="/read">Home</a>
    </body>
</html>